@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
*::after,
*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

p{
  margin: 0;
}

ul{
  padding: 0;
  margin: 0;
}

ul li{
  list-style: none;
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  background-color: #F1F1F1;
}

body::-webkit-scrollbar-thumb{
  background-color: #9fadc8;
  border-radius: 3rem;
}

/* utility classes ####################*/

.btn{
  border-radius: 4rem;
  padding: 0.5rem 1.6rem;
}

.wdth{
  width: 65%;
  margin: 0 auto;
}

/* utility classes end ####################*/

/* nav ####################*/

.nav-link{
  padding: 0 !important;
}

.navbar--nav{
  margin: 0 auto;
}

.nav--item{
  padding-right: 1rem;
}

.nav--item a{
  color: #212529;
  font-weight: 500;
}

.nav--item a:hover{
  color: #212529;
}

.nav--item a::after{
  content: "";
  width: 0%;
  background: #0DE85D;
  height: 0.1rem;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav--item a:hover::after{
  width: 100%;
}

.menu--bar{
  position: absolute;
  left: 3%;
  margin-top: 0.8rem;
  cursor: pointer;
  transition: 0.5s;
  width: 30px;
}

.menu--bar:active{
  transform: rotate(360deg);
}

.social--icon li a{
  font-size: 1.2rem;
  color: #212529;
  display: block;
  transition: 0.3s;
}

.social--icon li a:hover{
  position: relative;
  transform: translateY(-5px);
}

/* nav end ####################*/

/* about me ####################*/

.contact{
  margin-top: 1.5rem;
}

.contact li{
  margin-top: 0.7rem;
}

.contact li a{
  color: #212529;
}

.contact li a i{
  margin-right: 0.6rem;
}

.about-me--btn{
  border-radius: 30px 30px 30px 0;
  padding: 0.6rem 1.8rem;
  border: 0;
  background-color: #0DE85D;
  color: #fff;
  font-weight: 500;
}

.blue-badge{
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
}

.social--icon li{
  padding: 1.2rem;
}

.profile-picture img{
  width: 200px;
  height: 200px;
  background-color: #D8D8D8;
  padding: 10px;
}

.profile-border{
  margin: auto;
  width: 220px;
  height: 220px;
  background-color: #F0F0F0;
}

.django-img{
  width: 4.5rem;
}

.bootstrap-img{
  width: 4.2rem;
}

/* about me end ####################*/

/* quote secion ####################*/

.quote-secion{
  width: 100%;
  height: 5rem;
  position: relative;
}

.quote-section__Inner{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #1e1e1e;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8em;
  width: 100%;
}

.quote-section-top__Inner{
  bottom: 0;
}

.quote-section-bottom__Inner{
  top: 0;
}

/* quote secion end ####################*/

/* portfolio ####################*/

.projects .card-body .card-title{
  font-size: 1.1rem;
}

.projects .card-body .card-text{
  font-size: 0.85rem;
}

.projects{
  box-shadow: 0px 4px 12px -8px #414141;
  transition: transform 0.5s, box-shadow 0.5s;
  border-radius: 0.2rem;
}

.projects:hover{
  box-shadow: 0px 0px 35px -16px #c3cace;
  transform: scale(1.05);
}

.project--img{
  cursor: pointer;
  position: relative;
}

.project--img-layer{
  background: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project--img:hover .project--img-layer{
  background: rgba(60, 60, 60, 0.331);
}

.project--img:hover .project--img-layer a{
  display: block;
}

.project--skill{
  margin-top: 0.8rem;
}

.project--skill span{
  font-size: 0.7rem;
  background-color: #E4EBE4;
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;
  margin-left: 0.1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #617d98;
}

.project--skill span:first-child{
  margin-left: 0;
}

.project--links{
  background: #DAEDFB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.project--links .fa-github{
  color: #000;
  font-size: 1.2rem;
}

.project--links a{
  font-weight: 500;
}

/* portfolio ####################*/

/* exprience ####################*/



.upwork--color{
  color: #14a800;
}

.upwork--color:hover{
  color: #14a800;
}

/* exprience ####################*/

/* certification ####################*/

.certification{
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
  box-shadow: 0px 4px 12px -8px #414141;
  transition: transform 0.5s, box-shadow 0.5s;
}

.certification__Inner{
  display: flex;
  padding: 0.5rem 0.3rem;
  align-items: center;
}

.certification:hover{
  box-shadow: 0px 0px 35px -16px #c3cace;
  transform: scale(1.06);
}

.certification > .card{
  background-color: #DAEDFB;
}

.certification a{
  font-size: 0.9rem;
}

.certification svg{
  width: 6rem;
}

.certificate__img{
  width: 85px;
  height: 85px;
  border-radius: 0.1rem;
}

/* certification ####################*/

/* skills ####################*/

.skill{
  margin-top: 1.2rem;
}

.skill-name{
  font-weight: 600;
  margin: 0.3rem 0;
}

.skill-bar{
  height: 14px;
  background-color: #f1f1f1;
  border-radius: 3px;
}

.skill-per{
  height: 14px;
  background-color: #0de85d;
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.skill-per--backend{
  width: 100%;
  margin-left: auto;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #f1f1f1;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
}

.skill-per--frontend::before{
  right: 0;
  transform: translate(50%);
}

.skill-per::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f1f1f1;
  top: -15px;
  border-radius: 2px;
}

.skill-per--backend::after{
  left: 0;
  transform: translate(-50%) rotate(45deg);
}

.skill-per--frontend::after{
  right: 0;
  transform: translate(50%) rotate(45deg);
}

@keyframes fillBars{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}

/* skills ####################*/

/* responsive ####################*/

@media only screen and (max-width: 767px){
  .skill-per--backend{
    width: 100%;
    margin: 0;
  }
  .skill-per--backend::before{
    right: 0;
    transform: translate(50%);
  }
  .skill-per--backend::after {
    left: 100%;
    transform: translate(-50%) rotate(45deg);
  }
  .skills__parentClass{
    margin-bottom: 2rem;
  }
  .skills__parentClass:last-child{
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px){
  .skill-per--backend::before{
    left: 0;
    transform: translate(-50%);
  }
  .skill-per--backend::after{
    left: 0;
    transform: translate(-50%) rotate(45deg);
  }
}

@media only screen and (max-width: 991px){
  .wdth{
    width: 75%;
  }
  .nav--item a::after{
    display: none;
  }
  .nav--item a:hover{
    color: #0DE85D;
    transition: 0.1s;
  }
}

@media only screen and (max-width: 412px){
  .wdth{
    width: 85%;
  }
}